<html>
<h1><%= name %></h1>
<body>
	<p>Borough: <%= borough %></p>
	<p>Cuisine: <%= cuisine %></p>
	<p>Street: <%= street %></p>
	<p>Building: <%= building %></p>
	<p>Zipcode: <%= zipcode %></p>
	<p>GPS: [<%= lon %>, <%= lat %>]</p>
	<p>Rating: <%= score %></p>
	<p>Created by: <%= owner %></p>

        <p><a href="/">home</a></p>
</body>
</html>


